html, body {
	height: 100vh; 
}

body{
	background-color: #272626;
	background-attachment: fixed;
    background-position: right center;
	background-repeat: no-repeat;
	background-image: linear-gradient(to top, rgba(14, 15, 15, 0.803), rgba(2, 2, 2, 0.856)), url("../../images/bg.jpg");
	-webkit-animation: wallpaper 3s;
	animation: wallpaper 3s;
	margin: 0;

}

#allContent{
    display: flex;
    align-items: center;
	justify-content: center;
	height: 100vh;
    padding: 0;
	margin: 0;
}

#hamburger {
	height: 60px;
	width: 60px;
	display: none;
	position: absolute;
}

#menu {
	z-index: 5;
	height: 100%;
	width: 50%;
	position: absolute;
	background: rgba(12, 12, 12, 0.97);
	display: none;
	flex-direction: column;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#menu > * {
	padding: 5%;
	text-decoration: none;
}

#menu span{
	height: 2%;
	display: flex;
	justify-content: flex-end;
}

#first {
	border-top: 1px double rgba(136, 136, 136, 0.425);
}

#menu a:hover {
	background: rgba(83, 83, 83, 0.425);
	color: rgba(253, 253, 253, 0.856);
}
#x {
	height: 95%;
	float: right;
	opacity: .4
}

@keyframes wallpaper {
	from {
		background-position: 0% 0%;
	}

	to {
		background-position: right center;
		background-attachment: fixed;
	}
}

@-webkit-keyframes wallpaper {
	from {
		background-position: 0% 0%;
	}

	to {
		background-position: right center;
		background-attachment: fixed;
	}
}

.logo, .bio{
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 10em;
	opacity: .7
}

.headline{
	text-align: center;
}

.bio {
	border-style: groove;
    border-left: none;
	border-right: none;
	border-color: rgb(122, 122, 122);
	color:rgb(154, 160, 163);
	margin-left: 8vw;
	margin-right: 8vw;
	height: 155px;
	-webkit-animation: fadein 2.5s ease;
	animation: fadein 2.5s ease;
	background: radial-gradient(circle, rgba(6, 6, 6, 0.5) 12%, rgba(6, 6, 6, 0.42) 37%, rgba(20, 21, 22, 0) 94%);
}

@keyframes fadein {
	from {
		height: 0px;
		margin-left: -80vw;
		margin-right: -80vw;

	}
	to {
		height: 155px;
		margin-left: 8vw;
		margin-right: 8vw;
	}
}

@-webkit-keyframes fadein {
	from {
		height: 0px;
		margin-left: -80vw;
		margin-right: -80vw;

	}
	to {
		height: 155px;
		margin-left: 8vw;
		margin-right: 8vw;
	}
}

.bio .headline > h1, .bio .headline > p {
	opacity: 1;
	-webkit-animation: open 5.5s ease-in;
	animation: open 5.5s ease-in;
}

@keyframes open {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes open {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.profile{
	border-radius: 100%;
	width: 130px;
    height: 130px;
}

.profile:hover{
	width: 138px;
	height: 138px;
	box-shadow: 1px 1px 10px 1px rgb(26, 25, 25);
	transition: all .4s;

}

.headline{
	letter-spacing: 3px;
    padding-bottom: 3%;
}

nav{
display: flex;
justify-content: center;
margin-top: 4%;
}

nav a {
	display: flex;
	justify-content: center;
	text-decoration: none;
	letter-spacing: 2px;
	color: #bdbdbdc7;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: rgba(46, 46, 46, 0.377);
	width: 100%;

}

nav a:first-child {
	border-radius: 5px 0px 0px 5px;

}

nav a:last-child {
	border-radius: 0px 5px 5px 0px;

}

nav a:hover {
	background: rgba(155, 147, 147, 0.377)
}

.links{
	display: flex;
}

#main > * {
	display: none
}

#main > * {
    width: 70vw;
    height: 60vh;
    padding: 3%;
    color: #b7b7b7;
    background-color: #2d2d2d7d;
    text-align: center;
    border-radius: 5px;
    overflow-y: scroll;
	display: none;
	flex-direction: column
	}
	
#main img {
	max-width: 50%;
}

#main p, #main ul {
	word-spacing: 1.5px;
	text-align: left;
	line-height: 1.7;
	padding: 0% 6% 0% 6%;
	font-size: 80%;
}

#main ul {
	padding: 0 10% 0 10%;
}

#contact {
	width: 40vw;
	height: 35vh;
}

#fields {
	width: auto;
	height: auto;
	overflow: unset;
}

#message{
	width: 70%
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
  }
   
  ::-webkit-scrollbar-thumb {
	background: rgb(58, 58, 58);
	border-radius: 20px;
  }
  
::-webkit-scrollbar-track {
	background: rgb(211, 211, 211);
	border-radius: 20px;
  }
  
  a:link, a:visited {
	color:rgb(154, 160, 163);
  }

  #close {
	  margin: 3px;
  }
/* --------------------------------------------Media Queries-------------------------------------------- */

/* @media screen and (min-width: 1200px){

	.bio {
		margin-left: 14vw;
		margin-right: 14vw;
	}

	@keyframes fadein {
		from {
			height: 0px;
			margin-left: -80vw;
			margin-right: -80vw;
	
		}
		to {
			height: 155px;
			margin-left: 14vw;
			margin-right: 14vw;
		}
	}
	
	@-webkit-keyframes fadein {
		from {
			height: 0px;
			margin-left: -80vw;
			margin-right: -80vw;
	
		}
		to {
			height: 155px;
			margin-left: 14vw;
			margin-right: 14vw;
		}
	}
	
	@-webkit-keyframes fadein {
		from {
			height: 0px;
			margin-left: -25%;
			margin-right: -25%;
	
		}
		to {
			height: 135px;
			margin-left: 1%;
			margin-right: 1%;
		}
	}

} */

@media screen and (max-width: 850px) and (orientation: portrait) {

	body {
		background-size: cover;
	}

	#hamburger{
		display: block;

	}

	.bio {
		border-style: groove;
		border-width: 2px;
		border-left: none;
		border-right: none;
		margin-top: 6%;
		margin-left: -35%;
		margin-right: -35%;
		height: 135px;
		-webkit-animation: fadein 2s ease;
		animation: fadein 2s ease;
	}
	
	@keyframes fadein {
		from {
			height: 0px;
			margin-left: -100%;
			margin-right: -100%;
	
		}
		to {
			height: 135px;
			margin-left: -35%;
			margin-right: -35%;
		}
	}
	
	@-webkit-keyframes fadein {
		from {
			height: 0px;
			margin-left: -100%;
			margin-right: -100%;
	
		}
		to {
			height: 135px;
			margin-left: -35%;
			margin-right: -35%;
		}
	}

	nav {
		display: none;
	}

	#main > * {
		min-height: 65vh;
		width: 45vh;
		max-height: 65vh;
		padding: 0;
		color: #000000;
		background: #E8E7E7;
	}

	main span {
		width: 100vw;
		height: 100%;
	}

	#main img {
		max-width:100%;
	}



	#intro, #work, #contact{
		flex-direction: column;
	}

	#work {
		overflow-y: scroll;
	}

	#contact {
		max-height: auto;
		min-height: auto;
	}

	.projectInfo {
		background: white;
		box-shadow: 0 0 3px 0px #4c4b4b;
		margin: 5px 7px -9px 7px;
	}	
	
	::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	  }
	   
	#close {
		display: none;
	}

	#contact {
		background-color: #ababab36;
	}

}

@media screen and (max-width: 575px) and (orientation: portrait){

	#header {
		/* display: none; */
		width: 80%;
	}

	.logo {
		height: auto
	}

	.profile {
		width: 115px;
		height: 115px;
		transition: all .5s
	}
	
	.bio {
		margin-left: 1%;
    	margin-right: 1%;
		-webkit-animation: fadein 2s ease-out;
		animation: fadein 2s ease-out;
	}

	@keyframes fadein {
		from {
			height: 0px;
			margin-left: -15%;
			margin-right: -15%;
	
		}
		to {
			height: 135px;
			margin-left: 1%;
			margin-right: 1%;
		}
	}
	
	@-webkit-keyframes fadein {
		from {
			height: 0px;
			margin-left: -15%;
			margin-right: -15%;
	
		}
		to {
			height: 135px;
			margin-left: 1%;
			margin-right: 1%;
		}
	}
	#close {
		display: none;
	}

}

@media screen and (max-width: 950px) and (orientation: landscape) {

	.profile:hover{
		width: 108px;
		height: 108px;
		box-shadow: 1px 1px 10px 1px rgb(26, 25, 25);
		animation: all .4s;
	
	}

	nav a {
    	padding-left: 12vh;
   		padding-right: 12vh;
	}

	.bio {
		margin-left: 10vw;
		margin-right: 10vw;
		height: 145px;
	}

	@keyframes fadein {
		from {
			height: 0px;
			margin-left: -200%;
			margin-right: -200%;

		}
		to {
			height: 145px;
			margin-left: 10vw;
			margin-right: 10vw;
		}
	}

	@-webkit-keyframes fadein {
		from {
			height: 0px;
			margin-left: -200%;
			margin-right: -200%;

		}
		to {
			height: 145px;
			margin-left: 10vw;
			margin-right: 10vw;
		}
	}
}